[submodule "godlike/Unicorn"]
	path = godlike/Unicorn
	url = https://github.com/Godlike/Unicorn.git
[submodule "godlike/Pegasus"]
	path = godlike/Pegasus
	url = https://github.com/Godlike/Pegasus.git
[submodule "godlike/Epona"]
	path = godlike/Epona
	url = https://github.com/Godlike/Epona.git
[submodule "godlike/Arion"]
	path = godlike/Arion
	url = https://github.com/Godlike/Arion.git
[submodule "godlike/Tulpar"]
	path = godlike/Tulpar
	url = https://github.com/Godlike/Tulpar.git
[submodule "godlike/Mule"]
	path = godlike/Mule
	url = https://github.com/Godlike/Mule.git
