[submodule "godlike/Unicorn"]
	path = godlike/Unicorn
	url = https://github.com/Godlike/Unicorn.git
[submodule "godlike/Pegasus"]
	path = godlike/Pegasus
	url = https://github.com/Godlike/Pegasus.git
